asgiref==3.9.1
babel==2.17.0
Django==5.2.4
django-extensions==4.1
docxcompose==1.4.0
docxtpl==0.20.1
et_xmlfile==2.0.0
Jinja2==3.1.6
lxml==6.0.0
MarkupSafe==3.0.2
openpyxl==3.1.5
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-docx==1.2.0
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
